$fb--hover--color:#17A9FD;
$fb--active--color:#0165E1;
$instagram--hover--color: #d62976;
$instagram--active--color: #d412db;
$twitter--hover--color: #26a7de;
$twitter--active--color: $twitter--hover--color;
$border-bottom--hover--color: #038639;

$nav-color: #b9bbb8;