.main-about-us {
    min-height: 100vh;

    .about-us {
        .about-mpek-text-con {
            .header-paragraph {
                padding: 30px 0;
            }
        }
        .about-us-card {
            @include flex-center-row;
        }
        .header-paragraph {
            padding: $distance-pading;
            margin-top: 20px;
            color: $color-black;
            font-size: 1.1rem;
            text-align: justify;
        }
    }

    .about-us-card {
        margin: $card-margin;
        flex-direction: column;
        .inner-wrap{            
            .about-us-img{
                @include scale-transition;
                border-radius: $border-radius;
                max-height: 300px;
                max-width: 100%;
            }
        }

        @media only screen and (max-width: 770px) {
            margin: 20px auto;
        }

        .about-us-link {
            @include reset-default-text;
            @include link-hover-transition;
            @include flex-center-colum;
            height: 100%;
        }


        .img-header {
            color: $color-black;
            font-size: $font-size-title-secondary;
            margin: $card-margin;
        }
        .about-us-team {
            color: $color-black;
            font-size: $font-size-text-secondary;
        }
    }

    .partners {
        .about-us-link{
            border: none;
            &:hover{
                border: none;
            }
        }
        .about-us-img {
            max-width: 200px;
            max-height: 100px;
            background-color: $color-primary;
            border-radius: 0;
        }
    }
}
