.main-about-us {
    min-height: 100vh;

    .about-us{
        .about-mpek-text-con {
      
            .header-paragraph {
               padding: 30px 0;
            }            
        }
        .about-us-card{            
            @include flex-center-row;
        } 
    }
    
    .about-us-card {
        margin: $card-margin;

        @media only screen and (max-width:770px) {
            margin: 20px auto;
        }
        

        .about-us-link {
            @include reset-default-text;
            @include link-hover-transition;
            height: 100%;            
        }

        .about-us-img{
            @include scale-transition;
            border-radius: $border-radius;
        }

        .img-header {            
            color: $color-black;
            font-size: $font-size-title-secondary;
            margin: $card-margin;
        }
    }

    .partners{
        .header-paragraph{
            font-size: $font-size-text-primary;
            color: $color-black;
        }
        .about-us-link{
           @include custom-flex(space-between,center,column);           
           @include card-shadow(25px);
        }
    }   
}
