.about-mpek-text-con {
    padding: 100px 30px 0;
    height: auto;

    @media only screen and (max-width: 480px) {
        padding-top: 40px;
    }

    .marg {
        margin: 10px 0 50px;
    }
}

.majdanpek-hero{
    @include overlay;
    @include flex-center-colum;
    background-image: url('../../public/img/content/majdanpek/majdanpek.jpg');
    position: relative;
    background-repeat: no-repeat;
    width: $full-width;
    height: calc($full-screen-height - $nav-height);
    background-size: cover;

    .news-heading{
        font-size: $font-size-title-primary;
        color: $color-primary;
    }

    @media only screen and (max-width: 800px) {
        background-image: url('../../public/img/content/majdanpek/majdanpek-mobile.jpg');
        background-position: center;

        .news-heading{
            font-size: $font-size-title-special;
            color: $color-primary;
        }
    }    
}

.about-majdanpek-section {
    height: auto;
    padding: $distance-pading;
    

    @media only screen and (max-width: 480px) {
        padding: 20px 5px;
    }

    .content-wrap {
        @include about-mpek-img;
        @include content-space;
        text-align: justify;
              

        .img {
            width: 100%;
            height: 105%;
            padding: 15px;
        }

        @media only screen and (max-width: 1024px) {
            width: auto;
            height: auto;
            @include flex-center-colum;
            flex-direction: column !important;
            .img{
                padding-top: 20px;
            }
            

        }

        .title {
            font-size: 35px;
            padding: 14px;
            text-align: justify;

            @media only screen and (max-width: 500px) {
                font-size: 32px;
                padding: 10px;
            }
        }

        .lead {
            font-size: 18px;
            padding: 14px;
            text-align: justify;

            @media only screen and (max-width: 500px) {
                font-size: 15px;
                padding: 10px;
            }
        }
    }
    
}

.map-con {
    padding: 100px 0;

    @media only screen and (max-width: 575px) {
        padding: 50px 20px;
    }

    .map {
        width: 100%;
        height: 700px;

        @media only screen and (max-width: 600px) {
            height: 500px;
        }

        @media only screen and (max-width: 500px) {
            height: 400px;
        }
    }
}
