.main {
    .contact {
        .contact-bg {
            .contact-img {
                position: relative;
            }

            .contact-header {
                @include absolute-position(
                    absolute,
                    35%,
                    30%,
                    translateXY(-50%, -50%)
                );
                .contact-header-title {
                    font-size: $font-size-title-primary-reduced;
                    text-align: center;
                    color: $color-primary;
                    position: relative;
                    right: 35%;
                }
                .send-button {
                    @include btn-primary;
                    margin-top: 2rem;
                    position: relative;
                    transform: translate(60%, -50%);
                }
            }
        }
    }
    .form-group {
        width: 60%;
    }
}
