
.main-contact {
    position: relative;
    width: $full-width;
    overflow-y: hidden;    

    .alert{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        font-size: 25px;
    }

    .form-styling,.contact-form-wrap,.container{
        background-color: $color-black-transparent-mid;
        height: $full-height;
    }

    .contact-bg-image{
        background-image: url('../../public/img/content/majdanpek/majdanpek-starica.jpg');
        background-repeat: no-repeat;
        position: absolute;
        background-color: $color-black;
        width: $full-width;
        height: $full-height;
        background-size: 100%;
    }
    @media only screen and (max-width:850px){
        height: auto;
        overflow-y: auto;
        .contact-bg-image{
            background-size: 100%;
        } 
        
        .alert{
            width: $full-width;
        } 

        
    }
    .form-styling{
        position: relative;
        width: 40%;
        color: white;
        .send-button {
            @include btn-primary;
            margin-top: 1.5rem;
            }
            .contact-us{
            .contact-header-title {
                font-size: $font-size-title-primary-reduced;
                color: $color-primary;
            }
        }
    }
}

.form-group {
    .form-control {
        border-radius: 0;
        opacity: 0.7;
        font-weight: $font-weight-thick;
        color: $nav-color--dark-grey;
    }
}

.footer-margin{
    margin-top: -34px;
    margin-bottom: -40px;
}

@media only screen and (max-width:1024px){
    .main-contact {
        .form-styling {
            width: $full-width;
            textarea{
                height: 38px;
            }
            .contact-us {
                .contact-header-title {
                    font-size: $font-size-title-special;
                }
                margin-bottom: 0.2rem!important;
            }
        }
    }

    .form-control{
        text-align: center;
    }
}


@media only screen and (max-height:850px){
    .main-contact{
        height:auto;
        overflow-y: auto;
    }
}
