.visitmajdanpekemail{
    .default{
        @include reset-default-text;
        @include reset-p-m;
        color: $color-black;
    }
    .contact-us-custom-border{
        border-top: 22px ridge $color-link;
        border-bottom: 22px groove $color-link;
        border-radius: 0px 0px;
        padding: 30px 15px;
        width: 33%;
        margin-bottom: 6rem;
        transition: 1s;
        &:hover{
            border-radius: 90px 97px;
        }
        .contact-us-email-header{
            font-size: $font-size-text-primary;
        }
        .contact-us-email{
            font-size: $font-size-text-secondary;
        }
    }
    @media only screen and (min-width:750px){
        @media only screen and (max-width:1000px){
            .contact-us-custom-border{
                width: 66%;
            }
        }
    }
    @media only screen and (min-width:1001px) {
        @media only screen and (max-width:1040px) {
            .contact-us-custom-border {
                width: 50%;
            }
        }
    }
    @media only screen and (max-width:425px){
        .contact-us-custom-border{
            width: 80%;
            .contact-us-email-header {
                    font-size: $font-size-text-secondary;
                    font-weight: $font-weight-thick;
                }
            
                .contact-us-email {
                    font-size: $font-size-text;
                    font-weight: $font-weight-thick;
                }
        }
    }
}
.main-contact {
    position: relative;
    width: $full-width;
    overflow-y: hidden;    

    .alert{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        font-size: 25px;
    }

    .contact-bg-image {
        @include overlay;

        background-image: url('../../public/img/content/majdanpek/majdanpek-starica.jpg');
        position: relative;
        background-repeat: no-repeat;
        width: $full-width;
        height: calc($full-screen-height - $nav-height);
        background-size: cover;
        padding: $contact-padding;

        .contact-header-fs{
            font-size: $font-size-title-primary;
        }

        .contact-fs{
            font-size: $font-size-title-primary-reduced;
        }
    }

    @media only screen and (max-width:850px){
        height: auto;
        overflow-y: auto;

        .contact-bg-image{
            padding: 0;
            padding-top: $contact-padding;
            background-position: center;

            .contact-header-fs{
                font-size:$font-size-title-primary-reduced;
            }

            .contact-fs{
                font-size: $font-size-text-primary;
            }
        
            .alert{
                width: $full-width;
            }   
        }
    }
}

.contact-form{
    margin: 0 0 1rem 0;

    .form-styling {
        position: relative;
        width: 40%;
        color: white;

        .send-button {
            @include btn-primary;
            background-color: $border-bottom--hover--color;
            color: $color-black;
            margin-top: 1.5rem;

            &:hover{
                background-color: #09b450;
            }
        }
    
        .contact-us {
            .contact-header-title {
                font-size: $font-size-title-primary-reduced;
                color: $color-primary;
            }
        }
    }

    .form-group {
        .form-control {
            border-radius: 0;
            border-style:none none solid none;
            font-weight: $font-weight-thick;
            color: $nav-color--dark-grey;
            background: transparent;
            padding: 15px 15px 15px 0;
            border-bottom: 1px solid hsla(0, 0%, 4%, 0.3);
            width: $full-width;
        }
    }

    @media only screen and (min-width:769px) {
        @media only screen and (max-width:1024px) {
            .form-styling {
                width: 70%; 
                
                .contact-us {
                    .contact-header-title {
                        font-size: $font-size-title-special;
                    }

                    margin-bottom: 0.2rem !important;
                }
            }    
        }
    }

    @media only screen and (max-width: 768px){
        .form-styling{
            width: $full-width;
        }
    }

    @media only screen and (max-width:425px){
        .form-control {
            text-align: center;
        }
    }   
}