.news-card-wrap {
    .news-card-link {
        @include custom-flex(space-between, center, row);
        padding: $distance-pading;
        
        @media only screen and (max-width: 800px) {
            flex-direction: column !important;
        }
    }

    .news-card {
        padding: 10px;
        margin: 10px;
    }

    .news-link {
        @include link-primary;
        @include arrow-animation;

        width: auto;
    }
    .news-card-img {
        width: auto;
        height: 200px;
    }
    .cta{
        @include cta;
        @include reset-default-text;
        padding: 12px 0px 12px 60px;
    }
         .cta:hover > .arrow-right {
             margin-left: 1rem !important;
         }
    
         .cta > .arrow-right {
             transition-property: margin-left;
             transition-duration: .7s;
         }
}
