.news-card-wrap {
    @include custom-flex(center, center, row);
    flex-wrap: wrap;
    .news-card-link,.news-card-content {        
        @include custom-flex(center, center, column);
        padding: $distance-pading;       
    }

    .news-card {
        padding: 10px;
        margin: 10px;
        max-width: 350px;
        text-align: center;
    }

    .news-link {
        @include link-primary;
        @include arrow-animation;
    }
    .news-card-img {
        width: auto;
        height: 200px;
    }
    .cta{
        @include cta;
        @include reset-default-text;
    }
}
