.news-card-wrap {
    .news-card-link {
        @include custom-flex(space-between, center, row);
        padding: $distance-pading;
        
        @media only screen and (max-width: 800px) {
            flex-direction: column !important;
        }
    }

    .news-card {
        padding: 10px;
        margin: 10px;
    }

    .news-link {
        @include link-primary;
        @include arrow-animation;

        width: auto;
    }
    .news-card-img {
        width: auto;
        height: 200px;
    }
}
