#middle {
  margin-top: 100vh;
  transition: margin 1s ease;
}

.sight-content {
  @include flex-center-row;
  @include content-space;
  flex-wrap: wrap;
  
  .img{
    max-height: 300px;
    width: 100%;
  }

  .lead{
    text-align: justify;
  }
}

.fixed-nav {
  .nav-section {
    position: fixed;
  }
}