#middle {
  margin-top: 100vh;
  transition: margin 1s ease;
}
.sight-content-wrap{
  @include content-padding-space;
}

.sight-content {
  @include custom-flex(space-between,center,row);
  flex-wrap: wrap;  
  margin: $distance-pading;
  padding: $distance-pading;  
  
  .img-wrap{
    width: auto;
      .img{
        max-width: 350px;
        max-height: 300px;
        width: auto;
      }
  }


  .lead{
    text-align: justify;
  }
}

.fixed-nav {
  .nav-section {
    position: fixed;
  }
}