.split-hero {
  @include flex-center-row;
  @include reset-p-m;
  position: relative;
  width: 100%;

  .split-card {    
    height: calc($full-screen-height - $nav-height);
    width: 56%;
    position: absolute;
    transition: $transition;
    

    @media only screen and (min-width:1024px) {
      &:hover {
        @include overlay;
        transition: $transition;

        .head {
          top: 30%!important;

          @media only screen and (max-width:1450px) {
            top: 25%;
          }
        }
        .par {  
          display: block;
          top: 55%;
        }

      }
    }

    .cta{
      @include cta;
      @include reset-default-text;
      position: absolute;
      left: 50%;
      top: 70%;
      transform: translateX(-50%);
      z-index: 5;
    }
    
    .img {
      height: 100%;
      object-fit: cover;
    }

    .head,
    .par {
      z-index: 2;
      position: absolute;
      text-align: center;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    .head {
      @include btn-primary;
      background-color: $color-primary-transparent !important;
      top: 40%!important;
      padding: 20px 10px;
      border-radius: $border-radius;
      font-size: $font-size-title-secondary;
      text-shadow: 0 0 5px $color-primary;
      
      @media only screen and (max-width:1024px) {
        background-color: transparent !important;
        color: $color-primary;
        padding: 0;
        font-size: $font-size-title-secondary;
        text-shadow: 0 0 5px $color-black;
      }
    }

    .par {
      display: none;
      font-size: 1.6rem;
      color: $color-primary;

      @media only screen and (max-width:1450px) {
        font-size: 1.4rem;
      }
    }
  }

  .one {
    left: 0;
    top: 0;
    -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%); 
  }

  .two {
    right: 0;
    top: 0;
    -webkit-clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%); 
  }
}

.sights-content {
  padding: 60px 0;

  .sights-text-con {
    padding: 40px 50px;

    @media only screen and (max-width:800px) {
      padding: 0 30px;
    }

    .marg {
      margin-left: 0;
    }
  }

  .sights-card {
    padding: 30px 50px;

    &:hover{
      scale: 1;
    }

    @media only screen and (max-width:800px) {
      padding: 30px;
    }

    .card-content{
      @include flex-center-colum;
      text-align: justify;
    }

    .sights-card-header {
      font-size: 30px;
      text-align: center;
    }

    .img {
      height: 220px;      
      margin-bottom: 20px;
      transition: $transition; 

      &:hover{
        scale: 1.1;
      }

      @media only screen and (max-width:800px) {
        max-width: 300px;
      }
    }
    .shorten {
      @include shorten-text;
    }
  }
}

.sights-footer {
  margin-top: 100vh;
}
@media only screen and (max-width:1000px) {

  .split-hero{
    height: calc($full-screen-height - $nav-height) !important;
    flex-direction: column !important;
  }
  .split-card{
    @include custom-flex(space-between,center,column);  
    position: relative !important;
    width: 100% !important;
    height: 100% !important;    

    .card-img{
      display: none;
    }
  }
  .one,.two {
    @include overlay;
    right: 0;
    top: 0;
    -webkit-clip-path: none !important;
    clip-path: none !important; 
    background-position: center;
    background-size: cover;
  }
  .one{
    background-image: url('../../public/img/content/majdanpek/majdanpek.jpg');
  }
  .two{
    background-image: url('../../public/img/content/dm/DonjiMilanovac2.jpg');
  }
  .par{
    display: none !important;
  }
  
  .sights-footer {
    margin-top: auto;
  }
}