.custom-footer{
    .custom-margin{
        margin-right: 0!important;
    }
    .fw-extra-medium{
        font-weight: $font-weight-thick;
    }
    .mr-5{
        margin-right: 5rem;
    }
    .mr-4{
        margin-right: 4rem;
    }
    .mbms-2{
        margin-left: 0;
        margin-bottom: 0;
    }
    .nav-tabs{
        border: none !important;
    }
    .tab-pane{
        height: auto;
    }
        @media only screen and (min-width:750px) {
            @media only screen and (max-width:768px) {
                .mr-5:not(.second-list):not(:nth-child(3)){
                    margin-right: 4.3rem;
                }
                .mbms-2{
                    margin-left: 1.5rem;
                    margin-bottom: 1.5rem;
                }
            }
        }
    .custom-footer-font-size,.fa-square-facebook::before,
    .fa-instagram::before,
    .fa-twitter::before{
        font-size: $font-size-text-primary;
    }
    .custom-footer-margin{
       margin-bottom: $custom-footer-margin;
    }
    .box{
        -webkit-box-shadow: inset 0px 5px 40px -18px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: inset 0px 5px 40px -18px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 5px 40px -18px rgba(0, 0, 0, 0.2);
            height: 100px;
            border-radius: 20px;
            padding: 5px;
            width: 95%;
    }
    .cards-wrapper{
        display: flex;
    }
    .card{
        margin-right: 20px;
        background-color: rgba(255,255,255,0.1);
        border: 1px solid rgba(168, 165, 165, 0.5);
        -webkit-box-shadow: inset 0px 5px 40px -18px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0px 5px 40px -18px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0px 5px 40px -18px rgba(0, 0, 0, 0.2);
    }
    .card-body{
        padding-top: 0;
    }
    .image-wrapper{
        height:150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image-wrapper > a > img{
        max-width: 90%;
        max-height: 90%;
    }
    .seperator {
        margin-left: 40px;
        margin-bottom: 25px;
    }
    .carousel-control-prev-icon,.carousel-control-next-icon{
        padding: 15px;
        background-image: none;
        position: relative;
        border-radius: 50%;
    }
    .carousel-control-next{
        right: 30%;
    }
    .carousel-control-prev{
        left: 30%;
    }
    .fa-chevron-right::before,.fa-chevron-left::before{
        top: 50%;
        transform: translate(-50%,);
        position: absolute;
        color: black;
        font-size: 50px;
        margin-bottom: 20px;
    }
    .arrow-position{
        position: relative;
        margin-bottom: 90px;
    }
    a > :is(.move-arrow){
        transition: .7s;
    }
    a:hover > .move-arrow{
        transition: .7s;
        margin-left: 1.5rem!important;
    }
    .phone,.laptop{
        display: none;
    }
    .desk{
        display: block;
    }
        
    @media only screen and (max-width: 800px) {
        .seperator {
            margin-left: 0;
                }
        }
        .img{
            transition: $transition;
            border-radius: $border-radius;

            &:hover{scale: 1.05;}
        }
        .green-hover{
            transition: $transition;
                    -webkit-box-shadow: inset 0px 5px 40px -18px rgba(0, 0, 0, 0.2);
                        -moz-box-shadow: inset 0px 5px 40px -18px rgba(0, 0, 0, 0.2);
                        box-shadow: inset 0px 5px 40px -18px rgba(0, 0, 0, 0.2);
                        border-radius: 20px;
                        padding:5px 15px;
                        border: none;
            &:hover{
                color:$color-link;
                transition: .3s;
                -webkit-box-shadow: inset 0px 5px 40px -18px rgba(2, 117, 50, 0.4);
                -moz-box-shadow: inset 0px 5px 40px -18px rgba(2, 117, 50, 0.4);
                box-shadow: inset 0px 5px 40px -18px rgba(2, 117, 50, 0.4);
                border: none;
            }
        }
        @media only screen and (max-width: 768px) {
            .custom-footer-font-size {
                    font-size: 18px;
            }
            .box {
                width: 100%;
            }
            .p-0{
                padding: 0!important;
            }
            .justify-evenly{
                justify-content: space-evenly !important;
            }
            .card:last-child{
                display: none;
            }
            .card:nth-child(2){
                margin-left: 20px;
                margin-right: 0;
            }
            .pl-15 {
                padding-left: 15px;
            }
        }
        @media only screen and (min-width:320px){
            @media only screen and (max-width:425px){
                .flex-d-column{
                    flex-direction: column;
                }
                .mr-5,.mr-4{
                    margin-right: 0;
                    margin-bottom: 20px;
                }
                    .margin-b{
                        margin-bottom: 20px;
                }
                .card:not(:first-child){
                    display: none;
                }
                .card{
                    margin-right: 0;
                }
                .carousel-control-next {
                    right: 20%;
                }
                    
                .carousel-control-prev {
                    left: 20%;
                }
                .phone{
                    display: block;
                }
                .laptop,.desk{
                    display: none
                }
            }
        }
        @media only screen and (min-width:960px){
            @media only screen and (max-width:1024px){
                .custom-footer-font-size{
                    font-size: 20px;
                }
                .desk{
                    display: none;
                }
                .mr-5:not(.second-list):first-child {
                    margin-right: 1.5rem;
                }
                            
                .mr-5:not(.second-list):nth-child(2) {
                    margin-right: 2.5rem;
                }
                        
                .mr-5 {
                    margin-right: 2rem;
                }
                .mr-4 {
                    margin-right: 2rem;
                }
                        
            }
        }
        #fullscreen{
            display: none;
            position: absolute;
            z-index: 9999;
            top: 0;
            left: 0;
            width: 100vw;
            height: 115vh;
            object-fit: contain;
            background-repeat: no-repeat no-repeat;
            background-position: center center;
            background-color: rgba(0, 0, 0, 0.5);
        }
        .map{
            border-radius: $border-radius;
            cursor: pointer;
        }
        @media only screen and (min-width:768px) {
            @media only screen and (max-width:1024px){
                .laptop{
                    display: block;
                }
                .desk{
                    display: none;
                }
        }
    }
}

