#custom-hero {
  @include flex-center-row;
  @include overlay;
  
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 100%;
  transition: height 1s ease-out;

  .img {
    height: $full-height;
    width: $full-width;
    object-fit: cover;
  }

  .container {
    position: absolute;
    z-index: 3;
    padding: 20px;
    text-align: center;

    h3 {
      color: $color-primary;
      font-size: $font-size-title-special;

      @media only screen and (max-width:500px) {
        font-size: $font-size-title-secondary;
      }
    }

    #disappearing-paragraph {
      color: $color-primary;
      font-size: $font-size-text-primary;

      @media only screen and (max-width:1025px) {
        font-size: $font-size-text-secondary;
      }

      @media only screen and (max-width:500px) {
        font-size: $font-size-link;
      }
    }
  }
}