.h-100vh {
  height: 100vh;
  object-fit: cover;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  transform: translate(0, -50%);
}

.title {
  font-size: 25px;
}

.lead {
  font-size: 90px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  line-height: normal;

  @media only screen and (max-width:1025px) {
    font-size: 75px;
  }

  @media only screen and (max-width:768px) {
    font-size: 50px;
  }
}