.header {
  .video-wrap{
    height: 100vh;
    z-index: -1;
    
    @include overlay;
  }

  .img-wrap{
    display: none;
  }

  #video-background{
    width: 100%;
    background-color: $color-black;
  }
  
  @media only screen and (max-width:1200px) {
    .video-wrap{
      display: none;
    }
    .img-wrap{
      display: block;
    }
  }

  .h-100vh {
    height: $full-screen-height;
    object-fit: cover;
  }

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    transform: translate(0, -50%);
  }

  .carousel-caption{
    @include flex-center-colum;
    z-index: 1;
  }

  .title,.lead{
    border-radius: $border-radius;
    padding: 5px;
  }

  .title {
    font-size: 35px;
  }
  .cta{
    @include cta;
    @include reset-default-text;
  }
  .cta:hover > .arrow-right{
    margin-left: 1rem !important;
  }
  .cta > .arrow-right{
    transition-property: margin-left;
    transition-duration: .7s;
  }


  .lead {
    font-size: 90px;
    font-weight: $font-weight-thick;
    font-family: $font-family-raleway;
    line-height: normal;
   
    @media only screen and (max-width:1025px) {
      font-size: 75px;
    }

    @media only screen and (max-width:768px) {
      font-size: 50px;
    }
  }
}