.main{
    
    .link{
        @include reset-default-text;
        color: $color-black;
    }
    
    .card{
        @include card-default;
        max-width: 400px;
        
    }
   
    
    .card-header{
        position: absolute;
        bottom: 7%;
        left: 7%;
        font-size: $font-size-title-special;
        font-family: $font-family-sans-serif;
        color: $color-primary;
    }

    .card-img,.news-img{
        width: $full-width;
    }

    .first-content{
        @include first-content-card;
        
            @media only screen and ( max-width: 600px ) {
                .content-wrap{
                    max-width: 400px;
                }
            }
        
    }

    .hero-mid{
        height: $slider-height;
        .carousel,img,.carousel-inner,.carousel-item{
            height: $full-width;
        }
    }

    .slide-link{
        position: absolute;
        left: 13%;        
        bottom: 50%;
        transform: translateY(50%);        
        color: $color-primary;
        
        .slide-title{
            font-size: $font-size-title-primary;
        }
        @media only screen and ( max-width: 600px ) {
            .slide-title{
                font-size: $font-size-title-primary-reduced;
            }
        }

        .slide-text{
            font-size: $font-size-text-secondary;
        }

        .btn{
            @include btn-primary;
        }
        @include arrow-animation;
        
    }

    .second-content{
        .card-img{        
            @include news-card-img-param;
        }
    }


    .news-link{
       @include link-primary;
       @include arrow-animation;
    }
}