.main {
    .seperator {
        margin-left: 15px;
    }
    @media only screen and (max-width: 800px) {
        .seperator {
            margin-left: 0;
        }
    }

    .link {
        @include reset-default-text;
        color: $color-black;
    }

    .card {
        @include card-default;
        margin-top: 5px;
    }

    @media only screen and (max-width: 800px) {
        .card-wrap,
        .card,
        .card-link {
            @include flex-center-colum;
        }
    }
    .first-content{
        .card{
            @include scale-transition;
        }
    }

    .card-header {
        @include absolute-position(
            absolute,
            7%,
            7%,
            auto
        ); //($position,$left,$bottom,$translateY)
        font-size: $font-size-title-special;
        font-family: $font-family-sans-serif;
        color: $color-primary;
    }

    .card-img,
    .news-img {
        width: $full-width;
    }

    @media only screen and (max-width: 800px) {
        .first-content,
        .second-content {
            @include content-width;
        }
        .first-content,
        .second-content,
        .content-wrap {
            @include reset-p-m;
        }
    }
    .first-content {
        @include first-content-card;

        @media only screen and (max-width: 800px) {
            .content-wrap {
                @include content-width;
            }
        }
    }

    .hero-mid {
        height: $slider-height;
        .carousel,
        img,
        .carousel-inner,
        .carousel-item {
            height: $full-width;
        }
    }

    .slide-link {
        @include absolute-position(
            absolute,
            13%,
            50%,
            50%
        ); //($position,$left,$bottom,$translateY)
        color: $color-primary;

        .slide-title {
            font-size: $font-size-title-primary;
        }
        @media only screen and (max-width: 600px) {
            .slide-title {
                font-size: $font-size-title-primary-reduced;
            }
        }

        .slide-text {
            font-size: $font-size-text-secondary;
        }

        .btn {
            @include btn-primary;
            @include arrow-animation;
        }
    }

    .second-content {
        .card-img {
            @include news-card-img-param;
            @include scale-transition;
        }
    }

    .news-link {
        @include link-primary;
        @include arrow-animation;
        
        width: auto;
    }
}

@media only screen and (max-width: 800px) {
    .main {
        @include flex-center-colum;
    }
}
