.header {

  .nav-section {
    z-index: 1000; 
    height: $nav-height;
    width: $full-width;
    background: $nav-color--dark-grey;
    position: absolute;
  
    .nav-box {
      padding: 24px 0;
      display: flex;
      justify-content: space-between;

      .navbar-collapse {
        flex-grow: 0;
      }

      .navbar-brand {
        margin-right: 0!important;
        margin-left: 85px;

        @media only screen and (max-width:400px) {
          margin-left: 40px;
        }

        .nav-img {
          height: 30px;
          object-fit: contain;
        }
      }

      .navbar-toggler {
        border-radius: 1px;
        border: 0.1px solid $nav-color--grey;
        margin: 10px 85px 0 0;

        @media only screen and (max-width:400px) {
          margin-right: 40px;
        }
      }

      .navbar-toggler:focus,
      .navbar-toggler:active,
      .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
      }

      .display {
        display: none;
        
        @media only screen and (max-width:1200px) {
          display: block;
        }
      }

      .margin-right {
        margin-right: 85px;
      }

      .nav-item {
        @media only screen and (max-width:1200px) {
          background: #111;
          opacity: 0.9;
        }

        .button {
          display: block;
          padding: 27px 40px;
          color: $nav-color--grey;
          text-decoration: none;
          font-size: 19px;
          border-bottom: 2px solid transparent;

          @media (min-width: 1200px) {            
            &:not(.disable):hover {
              border-bottom-color: $color-link;
              transition: $transition;
            }
          }

          @media only screen and (max-width:1200px) {    
            border-bottom-color: $color-link;
            padding: 27px 30px;
            font-size: 18px;
            text-align: center;
          }
        }

        .icon {
          font-weight: $font-weight-thick;
          padding: 27px 40px;
        }
  
        $icons: ("lang": "\f0ac", "search": "\f002");
        @each $value, $icons in $icons {
          .icon-#{$value} {
            position: relative;
  
            &::after {
              content: "#{$icons}";
              font: normal 900 1em/1 "Font Awesome 6 Free";
              font-weight: 900;
              font-size: 20px;
              color: $nav-color--grey;
              top: 32px;
              right: 22px;
              width: 5px;
              height: 30px;
              display: block;
              position: absolute;
              transform: translate(-50%);
  
              @media only screen and (max-width:500px) {
                font-size: 18px;
              }
            }
          }

          .icon-search {
            &::after {
              @media only screen and (max-width:1200px) {
                top: 50%;
                right: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }

          .icon-lang {
            &::after {
              @media only screen and (max-width:1200px) {
                right: 46%;
                transform: translate(-46%);
              }

              @media only screen and (max-width:800px) {
                right: 44%;
                transform: translate(-44%);
              }

              @media only screen and (max-width:600px) {
                right: 40%;
                transform: translate(-40%);
              }

              @media only screen and (max-width:400px) {
                right: 36%;
                transform: translate(-36%);
              }
            }
          }
        }
      }
    }
  }
}

.wrapper {
  .nav-section {
    position: relative;
    background: $nav-color--dark-grey;
  }
}