// Body
$body-bg: #f8fafc;
$body-font-color: #222222;


// Typography

   //Family

$font-family-nunito: 'Nunito', sans-serif;
$font-family-raleway: 'Raleway', sans-serif;
$font-family-abril: 'Abril Fatface', sans-serif;
$font-family-akaya: 'Akaya Telivigala', sans-serif;
$font-family-aladin: 'Aladin', sans-serif;
$font-family-allura: 'Allura', sans-serif;
$font-family-asset: 'Asset', sans-serif;



   //Size

$font-size-btn: 1.2rem;

$font-size-title-primary: 6rem;
$font-size-title-primary-reduced: 2rem;
$font-size-title-secondary: 2rem;
$font-size-title-special: 3rem;

$font-size-text-primary: 1.5rem;
$font-size-text-secondary: 1.2rem;
$font-size-text: 1rem;


$font-size-link: 1rem;


   //Weight

$font-weight-thin: 200;
$font-weight-medium: 400;
$font-weight-thick: 600;

$line-height-base: 1.6;


//transitions
$transition: all 0.5s ease-in-out;

//width,height
$full-width: 100%;
$btn-width: 250px;

$full-height: 100%;
$full-screen-height: 100vh;
$slider-height: 80vh;
$footer-height: 250px;
$nav-height: 110px;

//Radius
$border-radius: 25px;


//Margins

$card-margin:20px;
$custom-footer-margin:1em;

//img
$hero-img: url("../img/default-img.png");
$content-img: url("../img/content/content.png");
$logo-img: url("../img/layout/logo.png");
